<h1>Supplier Details</h1>
<table>
<tr>
    <td>Supplier ID:</td>
    <td><%= onerec.supplier_id %></td>
</tr>
<tr>
    <td>Name:</td>
    <td><%= onerec.name %></td>
</tr>
<tr>
    <td>Contact Name:</td>
    <td><%= onerec.contact_name %></td>
</tr>
<tr>
    <td>Email:</td>
    <td><%= onerec.email %></td>
</tr>
<tr>
    <td>Phone:</td>
    <td><%= onerec.phone %></td>
</tr>
<tr>
    <td>Address:</td>
    <td><%= onerec.address %></td>
</tr>
</table>

