<h1>Details</h1>
<table>
<tr> <td> Membership Type: </td> <td> <%= onerec.membership_type %> </td> </tr>
<tr> <td> Customer ID: </td> <td> <%= onerec.customer_id %> </td> </tr>
<tr> <td> Start Date: </td> <td> <%= onerec.start_date %> </td> </tr>
<tr> <td> End Date: </td> <td> <%= onerec.end_date %> </td> </tr>
<tr> <td> Points: </td> <td> <%= onerec.points %> </td> </tr>
</table>