<h1>Details</h1>
<table>
<tr> <td> Promotion ID: </td> <td> <%= onerec.promotion_id %> </td> </tr>
<tr> <td> Promotion Name: </td> <td> <%= onerec.promotion_name %> </td> </tr>
<tr> <td> Description: </td> <td> <%= onerec.description %> </td> </tr>
<tr> <td> Discount: </td> <td> <%= onerec.discount %> </td> </tr>
<tr> <td> Start Date: </td> <td> <%= onerec.start_date %> </td> </tr>
<tr> <td> End Date: </td> <td> <%= onerec.end_date %> </td> </tr>
<tr> <td> Product ID: </td> <td> <%= onerec.product_id %> </td> </tr>
</table>