<h1>Details</h1>
<table>
<tr> <td> Sale ID: </td> <td> <%= onerec.sale_id %> </td> </tr>
<tr> <td> Customer ID: </td> <td> <%= onerec.customer_id %> </td> </tr>
<tr> <td> Product ID: </td> <td> <%= onerec.product_id %> </td> </tr>
<tr> <td> Sale Date: </td> <td> <%= onerec.sale_date %> </td> </tr>
<tr> <td> Quantity: </td> <td> <%= onerec.quantity %> </td> </tr>
<tr> <td> Total Price: </td> <td> <%= onerec.total_price %> </td> </tr>
</table>